<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="honbab.voltage.com.tete">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="honbab.voltage.com.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="honbab.voltage.com.firebase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB57cM_1hIxkWNU8qN60QHfqzEleqKDE0Y" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SplashActivity" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".JoinActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".JoinActivity2"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ChangePswActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".CommentTalkActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".FeedMapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".DelayHandlerActivity" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".MapsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MyFeedListActivity" />
        <activity android:name=".ReservActivity" />
        <activity android:name=".PokeListActivity" />


        <activity android:name=".OneImageActivity" />
        <activity android:name=".OneRestaurantActivity" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".SettingActivity" />


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7e146f9c98e75bf4dde5b028ccd06aa4" />

    </application>


</manifest>