<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="honbab.pumkit.com.tete">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2-H992mDR2dLm2DQof3lIcyUCFikePO0" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name="honbab.pumkit.com.tete.SplashActivity"/>

        <activity android:name="honbab.pumkit.com.tete.LoginActivity"/>
        <activity android:name="honbab.pumkit.com.tete.JoinActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="honbab.pumkit.com.tete.JoinActivity2"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="honbab.pumkit.com.tete.CommentTalkActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="honbab.pumkit.com.tete.FeedMapActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="honbab.pumkit.com.tete.DelayHandlerActivity"/>
        <activity android:name="honbab.pumkit.com.tete.GridViewActivity"/>
        <activity android:name="honbab.pumkit.com.tete.MapsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="honbab.pumkit.com.tete.MyFeedListActivity"/>
        <activity android:name="honbab.pumkit.com.tete.ReservActivity"/>
        <activity android:name="honbab.pumkit.com.tete.PokeListActivity"/>


        <activity android:name="honbab.pumkit.com.tete.OneImageActivity"/>
        <activity android:name="honbab.pumkit.com.tete.OneRestaurantActivity"/>

        <activity android:name="honbab.pumkit.com.tete.ProfileActivity"/>
        <activity android:name="honbab.pumkit.com.tete.SettingActivity"/>


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7e146f9c98e75bf4dde5b028ccd06aa4"/>

    </application>

</manifest>